#send-container{
    position: fixed;
    bottom: 10px;
}

.error{
    color: red;
}

.private{
    color:rgb(95, 94, 0);
    font-style: italic;
    border: 1px solid black;
    border-radius: 8px 8px 8px 0px;
    padding: 5px;
    background-color: rgb(250, 255, 187);
}
.online-users{
    border: 1px solid black;
   
}

.chat-window{
    padding-left: 10%;
    padding-right: 10%;
    
}

#nickWrap{
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
}

.mytext{
    float: right;
}

.general{
    width: 100%;
    color: blue;
    font-style: italic;
}

.received{
    border: 1px solid black;
    border-radius: 8px 8px 8px 0px;
    padding: 5px;
    background-color: rgb(231, 231, 231);
}

.sent{
    border: 1px solid black;
    border-radius: 8px 8px 0px 8px;
    padding: 5px;
    background-color: rgb(167, 241, 241);
}



#content-wrap{
  
}